@model IEnumerable<ApplicationUserViewModel>

@foreach(var user in Model)
{
    <tr>
        <td>
            @user.Username
        </td>
        <td>
            @user.RatingPoints
        </td>
        <td>
            @user.Email
        </td>
    </tr>
}